html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}


body{
    margin: 0;
    /* overdlow-x hidden sirve apra que si algun elemento se sale no nos genere la barra de desplazamiento horizontal */
    overflow-x:hidden
}

a{
    color: #01579b;
    transition: color 0.3s ease;

}
a:hover{
    color:#00b0ff;
}
h1{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.error{
    padding: 1rem;
    font-size: 150%;
    /* bold es negrita y se pone en weight que creo que es anchura se refiere al peso a la densidad creo pero es mas anchura al final */
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

.form-search{
    margin:auto;
    text-align: center;
}
.form-search input{
    display: block;
    margin:auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}
.header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
}
/* como no hay mucho espaciado entre los hijos dentro del header selccionaremos estos y diremos que todos los hijos dentro del header tengan un margin de 1 rem en auto entre ellos el asterisco dice que da igual la etiqueta todas dentro de ese mismo nivel es lo que pasa */
.header > *{
    margin: 1rem auto;
}

.loader{
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}